@charset "UTF-8";


.lees_meer{
	color:#666666;
}

.categorie_txt{
    color:##404040;
	font-size:10px;
}

.navigation {
	font-size:13px;
}

body{
	font-size:11px;
	line-height:14px;
}

#language_list {
	float: right;
	margin: 0px 27px 0px 0px;
	text-transform: uppercase;
}
#language_list .active {
	text-decoration: underline;
}

.top-link {
	padding: 5px 0 0 27px;
	float: left;
}
#topmenu-right {
	position:absolute;
	float:left;
	margin:5px 13px 0px 1126px;
	width: 220px;	
	visibility: hidden;
}

@media only screen and (max-width: 1280px) {
  /* rules that only apply for canvases narrower than 1280px */
  
	body{
		font-size:14px;
		line-height:16px;
	}
	.navigation {
	font-size:12px;}

}

